* {
    box-sizing: border-box;
  }
  
  
  header, footer, section, aside, nav {
    padding: 15px;
  }
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  section, aside, nav {
    display: inline-block;
    vertical-align: top;
  }
  
  section {
    width: 48%; 
  }
  
  aside {
    width: 28%;
  }
  
  nav {
    width: 18%; 
  }
  
  h1, h2 {
    font-family: 'Josefin Slabbold', sans-serif;
  }
  
  h1 {
    font-size: 4rem; 
    text-align: center;
  }
  
  h2 {
    font-size: 2.8rem; 
  }
  
  p, li {
    font-size: 1.4rem; 
    line-height: 1.4; 
  }
  
  a {
    color: #a66;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background: #a66;
  }
  
  a:active {
    color: white;
    background: black;
  }
  
  ul, ol {
    margin: 1rem 0; 
  }
  
  nav ul {
    padding-left: 0;
  }
  
  nav li {
    margin-bottom: 1rem;
  }
  
  nav li a {
    display: block;
    font-size: 2rem;
    text-align: center;
    padding: 0.8rem; 
    border: 1px solid #a66;
  }
  
  nav li a:hover {
    color: white;
    background: #a66;
  }
  